<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="imagens\prestofav.ico">
    <script type="text/javascript" src="js/jquery-1.2.6.pack.js"></script>
    <script type="text/javascript" src="js/jquery.maskedinput-1.1.4.pack.js"/></script>
    <script type="text/javascript" src="js/senha.js" async></script>
    <script type="text/javascript" src="js/mascara.js"></script>
    <link rel="stylesheet" href="css_cadastro_profissional.css">
  </head>
   <body>

    <header>
      <div id="a">
      <a href="index.html"><img src="imagens\prestologo.png" id="presto_logo"></a>
      <a href="index.html" id="link_one"><p id="des_presto">Presto</p></a>
    </div>
      <form class="form_pes_pro" action="pagina.php" method="post">
        <input type="text" placeholder="Pesquisar profissionais" id="inp_dig_pro">
        <input type="submit" name="" value="Buscar" id="btn_pes">
    </form>
    <nav id="nav1">
      <ul id="ul1">
        <li><a href="login.html">Login</a></li>
        <li><a href="presto_pagina_escolha.html">Cadastre-se</a></li>
      </ul>
    </nav>
    </header>

    <div id="divb">
      <ul id="ul2">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="contato.html">Contato</a></li>
      </ul>
    </div>

    <div id="cadastro">
      <img src="imagens\support.png" id="img_user">
      <p id="des_cadastro1">Cadastro como profissional</p>

      <form id="form_profissional" action="inserirprest" th:object="${prestador}" method="post">
        <input type="text" class="inputs" name="nome" th:field="*{NomePrestador}" maxlength="50" title="Nome completo" placeholder="Nome completo"  id="input_nome_usuario" onkeyup="myFunction(document.getElementById('input_nome_usuario'));" required>
        <input type="text" class="inputs" name="cpf" id ="cpf" placeholder="CPF" onkeyup="mascara('###.###.###-##',this,event,true)" maxlength="14" required>
        <input type="email" class="inputs" name="email" th:field="*{Email}" title="E-mail" placeholder="E-mail" pattern="a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" id="input_email_usuario" required>
        <input type="text" class="inputs" name="telefone" id="telefone"  placeholder="Telefone fixo" onkeyup="mascara('(##) ####-####',this,event,true)" maxlength="14">
        <input type="text" class="inputs" name="celular" id="celular" placeholder="Celular" onkeyup="mascara('(##)#####.####',this,event,true)" maxlength="14" required>
        <ul>
          <li>É whatsapp?</li>
          <li><input type="radio" id="radio_sim" name="whatsapp" value="Sim" checked> Sim</li>
          <li><input type="radio" id="radio_nao" name="whatsapp" value="Nao"> Não</li>
        </ul>
        <input type="password" class="inputs" name="senha" placeholder="Senha" id="senha" required>
        <input type="password" class="inputs" placeholder="Confirme Senha" id="senha2" required>
        <p id="des_anexo">Envie um anexo da CTPS que comprove experiência, min. 6 meses.</p>
        <input type="file" class="inputs"name="imagem" id="anexo" required>
        <select id="select_pro" name="pro" required>
          <option value="" selected>Profissão</option>
          <option>------------------------------------------------------------------------------------</option>
          <option value="marceneiro">Marceneiro</option>
          <option value="pedreiro">Pedreiro</option>
          <option value="encanador">Encanador</option>
          <option value="cozinheiro">Cozinheiro</option>
          <option value="professor">Professor</option>
        </select>
        <textarea name="decricao" rows="4" cols="50" minlength=100 placeholder="Descreva quais tipos de serviços que você realiza" id="textareapro" required></textarea>
        <input type="submit" id="btn_enviar">Cadastrar</input>
      </form>
    </div>

    <footer>
      <p id="des_footer">2011-2019 © Todos os direitos reservados. Presto® é uma marca registrada de Presto Tecnologia.</p>
      <ul id="ul4">
        <li id="li_on"><img src="imagens\prestologo.png" id="img_presto"><p id="presto_footer">Presto</p></li>
        <li><a href="#"><img src="imagens\whatsapp.png" id="img_what"> 81 99444 - 4410</a></li>
        <li><a href="#"><img src="imagens\facebook.png" id="img_fab">facebook.com/presto</a></li>
      </ul>
    </footer>

      <script type="text/javascript">
    	$(document).ready(function(){
    		$("#cpf").mask("999.999.999-99");
    	});
      </script>


  </body>
</html>
