<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/logado.css">
    <link rel="stylesheet" href="css/cadastroprestador.css">
    <title>Pedreiro</title>
</head>

<body>
    <!-- INICIO HEADER -->
    <header>
        <a href="index.html" id="logo">
            <img src="img/prestologo.png" alt="Logo">
            <span id="titLogo">Presto</span>
        </a>
        <form action="pag.php" id="buscaPre">
            <input type="search" name="search" placeholder="Busque por profissionais..." id="inpSearch">
            <button type="submit" id="busca"><img src="img/icon/search-solid.svg" alt="Buscar"></button>
        </form>

        <!-- Container logado -->
        <div class="containerLog">
            <img src="img/cliente.png" alt="foto do perfil">
            <span class="nome">Felipe da Silva <span class="cliPres">(Cliente)</span></span>
            <div class="inforPerf">
                <span class="infCliPres" onclick="mudarStatCli()">Felipe da Silva <span class="cliPres">(Cliente)</span></span>
                <span class="infCliPres" onclick="mudarStatPrest()">Felipe da Silva <span class="cliPres">(Prestador)</span></span>
                <hr class="hrDiv">
                <span class="sobrePerfil"><a href="#">Editar perfil</a></span>
                <span class="sobrePerfil"><a href="#">Meu perfil</a></span>
                <hr class="hrDiv">
                <span class="sair"><a href="#">Sair</a></span>
            </div>
        </div>
    </header>
    <!-- FIM HEADER -->
    <!-- INICIO NAV -->
    <nav>
        <ul id="menu">
            <li><a th:href="@{/}">Início</a></li>
            <li><a th:href="@{/sobre}">Sobre</a></li>
            <li><a th:href="@{}">Contato</a></li>
        </ul>
    </nav>
    <!-- FIM NAV -->

    <!-- INICIO FORM CADASTRO PRESTADOR -->
    <form action="" method="post" id="cadPres">
        <h3 id="titCadPres">Preencha o formulário para trabalhar como prestador</h3>
        <p class="titPro">Sua profissão</p>
        <select name="" id="profissoes" onchange="funProf()" onmouseover="mudarCorPro()">
            <option class="optPro">Selecione</option>
            <option class="optPro" value="Pedreiro">Pedreiro</option>
            <option class="optPro" value="ajundanteDePedreiro">Ajudante de pedreiro</option>
            <option class="optPro" value="Marceneiro">Marceneiro</option>
            <option class="optPro" value="MestreDeObras">Mestre de Obras</option>
        </select>

        <!-- estados -->
        <label for="estado" class="labClas">Estado onde deseja trabalhar</label><br>
        <select name="" id="estado" class="selClas" onchange="mudarEstPres(this.value)" onmouseover="mudarCorEst()">
            <option class="optClas">Selecione o estado</option>
            <option class="optClas" value="pernambuco">Pernambuco</option>
            <option class="optClas" value="paraíba">Paraíba</option>
            <option class="optClas" value="ceará">Ceará</option>
        </select>

        <!-- cidades -->
        <p class="titPro dois">Cidades onde deseja trabalhar</p>
        <div class="divCidades">
            <!-- <input type="checkbox" name="recife" id="checUm" class="classCheck">
            <label for="checUm" class="labCid">Recife</label><br>   -->
            <p class="titPro tres">(Escolha o estado)</p>
        </div>

        <p id="titServ">Descreva quais tipos de serviços que você realiza</p>
        <textarea name="" id="descTiposSer"></textarea>

        <div id="anexo">
            <p id="titDoc">Envie um anexo da CTPS que comprove experiência, min. 6 meses.</p>
            <input type="file" name="" id="enviarFile" oninput="pegarNomeDoc()">

            <span id="nomeArq">Nenhum arquivo selecionado</span>
            <button id="btnEscArq">Escolher arquivo</button>
        </div>
            
        <button type="submit" id="EnvCadaPres">Enviar</button>
    </form>
    <!-- FIM FORM CADASTRO PRESTADOR -->

    <!-- INICIO FOOTER -->
    <footer>
        <a href="index.html" id="logoFooter">
            <img src="img/prestologo.png" alt="Logo">
            <span id="titLogoFooter">Presto</span>
        </a>
        <span id="direitos">2011-2020 © Todos os direitos reservados. Presto® é uma marca registrada de Presto
            Tecnologia.</span>
    </footer>
    <!-- FIM FOOTER -->

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="js/cadastroprestador.js"></script>
    <script src="js/logado.js"></script>
</body>
</html>